<nav>
  <ul>
    <li><a href="/">Home</a></li>
    {{#if userInSession}}
      <li><a href="/profile">My Profile</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/property/create">Add property</a></li>
      <li><a href="/property/property">Properties</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    {{/if}}
  </ul>
</nav>