<h1>{{appTitle}} 🚀</h1>

<p class="h1 text-success">Welcome to ADMAMU</p>
<p class=".bg-light"></p>


<div>
    <h1>About ADMAMU</h1>

    <p>ADMAMU your dream house is in the 3D world. Easy solutions to your dream house. Accessibility based on your location where you can search, post and purchase a property. New Listings, luxury homes, and spacious apartments. With a network of homes for sale worldwide, our website lets you search property listings globally, and includes a large inventory of luxury homes for sale, including houses, condos, townhomes, villas, and more. </p>
</div>

<div>
    <img src="" alt="">
    <h1>Find</h1>

    <p>Search with ADMAMU. Finding a dream home has never been this simple. ADMAMU provides easy navigation when looking for a property.</p>
</div>

<div>
     <h1>Add</h1>

    <p>Add your listing</p>
    <img src="" alt="">
</div>
