<h1 class="text-center">{{appTitle}} 🚀</h1>
<hr class="my-4">

{{!-- <p class="bs-light-text-emphasis">ADMAMU</p> --}}

<div class="card mt-5">
  <div class="card-body">
    <h1 class="text-black-50">About ADMAMU</h1>
    <p class="text-dark">ADMAMU is your dream house in the 3D world. We provide easy solutions to make your dream house a reality. Our platform offers accessibility based on your location, allowing you to search, post, and purchase a property. Explore new listings, luxury homes, and spacious apartments. With a global network of homes for sale, our website lets you search property listings worldwide. We have a large inventory of luxury homes for sale, including houses, condos, townhomes, villas, and more.</p>
  </div>
</div>

<div class="card mt-5">
    <div class="card-body">
     <img "images/find-real-estate.jng">
     <h1 class="text-black-50">Find</h1>
     <p class="text-dark">Search with ADMAMU. Finding a dream home has never been this simple. ADMAMU provides easy navigation when looking for a property.In our property radar, you get access to properties from across real estate platforms and we will regularly send you newly published listings. This way you have an easy to browse overview of 90% or more of the properties on the market.</p>
    </div>
</div>

<div class="card mt-5">
    <div class="card-body">
    <h1 class="text-black-50">Add</h1>
    <p class="text-dark">Add your listing. We provide access to millions of guests. Register your accommodation and start selling. Rent out your property to millions of guests and earn more. Sign up for free! 7M independent tourists. Global metasearch engines. Dedicated support team. Flexible payment system. Major channel managers.</p>
    <img src="" alt="">
    </div>
</div>
