body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:aqua;
}

a {
  color: white;
}

h1 {
  color: 15px;
}

#home-test {
  color: red;
}

#logo {
  width: 50px;
}


